* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat;
    background-color: rgb(42, 42, 54);
}

nav {
    /* position: absolute; */
    color: aqua;
    display: flex;
    width: 100%;
    height: 91px;
    padding: 30px 25px;
    background-color: #21222A;
    align-items: center;
    /* justify-content: space-between; */
}

nav > img{
    width: 30px;
}

nav > h2 {
    margin: auto;
    color: aliceblue;
}

.main-el {
    /* margin: 50px; */
    list-style: circle;
    color: aliceblue;
    background-image: url("./images/reactjs-icon\ 2.png");
    background-repeat: no-repeat;
    background-position: right;

}

.main-el > ul {
    padding-left: 50px; 
}

.main-el > h1 {
    padding-left: 10px;
}

.main-el > ul > li {
    list-style: disc;
    padding-block: 10px;
}

.main-el > ul > li::marker {
    font-size: 1.4rem;
    color: aqua;
}